{% extends "_layouts/base.html" %}
{% load url from future %}

{% block page_title %}About{% endblock %}

{% block page_content %}
<h2>About</h2>
<p>
<hr>
<h2>Resources I found useful</h2>

<h3>Blog Posts and articles</h3>
<li><a href="http://sensor.andrew.cmu.edu/about">Sensor Andrew</a></li>
<li><a href="http://gettingstartedwithdjango.com/">Getting Started with django</a></li>
<li><a href="https://medium.com/cs-math/f29f6080c131">11 Things I wish I knew - Django</a></li>

<h3>Resources and Documentation</h3>
<li><a href="https://www.djangoproject.com/">Django Project</a></li>
<li><a href="http://jquerymobile.com/">JQuery Mobile</a></li>
<li><a href="http://www.highcharts.com/">Highcarts</a></li>
</p>


{% endblock %}