{% extends "_layouts/base.html" %}
{% load url from future %}

{% block page_title %}About{% endblock %}

{% block page_content %}
<h2>About</h2>
<p>
	This project is a small scale implementation of <a href="http://en.wikipedia.org/wiki/Sensor_web">sensor web</a>, a distributed network of arbitrary sensors and actuators.
The project is loosly based and largely inspired by the work at Carnegie Mellon University on <a href="http://www.ices.cmu.edu/censcir/sensor-andrew/">Sensor Andrew.</a>
</p>
<p>
<hr>
<h2>Resources I found useful</h2>

<h3>Blog Posts and articles</h3>
<li><a href="http://www.ices.cmu.edu/censcir/sensor-andrew/">Sensor Andrew</a></li>
<li><a href="http://gettingstartedwithdjango.com/">Getting Started with django</a></li>
<li><a href="https://medium.com/cs-math/f29f6080c131">11 Things I wish I knew - Django</a></li>

<h3>Resources and Documentation</h3>
<li><a href="https://www.djangoproject.com/">Django Project</a></li>
<li><a href="http://jquerymobile.com/">JQuery Mobile</a></li>
<li><a href="http://www.highcharts.com/">Highcarts</a></li>


<h3>Development</h3>
<li><a href="http://askubuntu.com/questions/172698/how-do-i-install-sublime-text-2-3">Setting up Sublime Text 2/3 on Ubuntu</a></li>
<li><a href="https://realpython.com/blog/python/setting-up-sublime-text-3-for-full-stack-python-development/">Sublime Text 3 as full stack IDE</a></li>

</p>

{% endblock %}