{% extends "_layouts/base.html" %}

{% block page_title %}Device Instance List {% endblock %}

{% block page_content %}
<h2>Device Instance List</h2>
<!-- <ul>
    {% for dev in deviceinstance_list %}
    <li><a>{{dev.device}}, {{dev.device.model_number}},{{dev.serial_number}}, {{dev.last_value.value}} </a></li>
    {% empty %}
    <li>Sorry, no devices added. Check back soon!</li>
    {% endfor %}    
</ul> -->

<table data-role="table" id="table-custom-2" data-mode="columntoggle" class="ui-body-d ui-shadow table-stripe ui-responsive" data-column-btn-theme="b" data-column-btn-text="Columns to display..." data-column-popup-theme="a">
         <thead>
           <tr class="ui-bar-d">
             <th data-priority="4">Device</th>  
             <th data-priority="2"><abbr title="Serial Number">Serial Number</abbr></th>
             <th data-priority="5">Location</th>             
             <th data-priority="1">Value</th>
             <th data-priority="3">Acquired on</th>
           </tr>
         </thead>
         <tbody>
         {% for dev in deviceinstance_list %}
           <tr>

             <th><a href="/sensordata/devices/{{dev.id}}/">{{dev.device}}</a></th>
             <td>{{dev.serial_number}}</td>
             <td>{{dev.location}}</td>
             <td>{{dev.last_value.value}}</td>
             <td>{{dev.last_value.data_timestamp}}</td>
           </tr>
           {% empty %}
    		<td>Sorry, no devices added. Check back soon!</td>
    	    {% endfor %} 
         </tbody>
       </table>

{% endblock %}