{% extends "_layouts/base.html" %}

{% block page_title %}Sensordata Api{% endblock %}

{% block page_content %}
<h2>Sensordat API </h2>

<ul data-role="listview">
<li><a href="/sensordata/api/units" data-ajax="false">Units</a></li>
<li><a href="/sensordata/api/man" rel="external">Manufacturer</a></li>
<li><a href="/sensordata/api/location" rel="external">Location</a></li>
<li><a href="/sensordata/api/physicalsignal" rel="external">Physical Signal</a></li>
<li><a href="/sensordata/api/device" rel="external">Device</a></li>
<li><a href="/sensordata/api/gateway" rel="external">Gateway</a></li>
<li><a href="/sensordata/api/deviceinstance" rel="external">Deviceinstance</a></li>

</ul>

{% endblock %}